extends layout.pug

block content
  h1 #{title}
  p #{message}
  img(src="/assets/contact.jpg", alt="Perritos comunicandose")
  
  p
    a(href="https://www.linkedin.com/in/luc%C3%ADa-aroca-sol%C3%ADs-b652552b4/") Podéis hablarme por LinkedIn
  
  p
    a(href="/") Volver al inicio
