header
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/about") ¿Quiénes somos?
            li
                a(href="/location") ¿Dónde estamos?
            li
                a(href="/mission") Que hacemos
            li
                a(href="/contact") Contacto