doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title #{title}
    link(rel="stylesheet", href="/css/style.css")
  body
    include ./header.pug
    block content
    include ./footer.pug
    script(src="/js/main.js")
