extends layout.pug

block content
  h1 #{title}
  p #{message}
  img(src="/assets/asturias.jpg", alt="Foto Asturias")
  p Por aqui os dejamos las vistas que tenemos desde nuestra oficina!
  p
    a(href="/") Volver al inicio