body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  padding: 20px;
}

header, footer {
  background-color: #d699ab;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0 1em;
}

a {
  color: rgb(121, 21, 86);
  text-decoration: none;
}
